@{
    ViewData["Title"] = "Download .NET Bots ZIP";
}

<p class="text-center">
    <a class="btn btn-primary" asp-controller="Home" asp-action="DownloadBots" download>Download .NET Bots ZIP</a>
    <a class="btn btn-primary" asp-controller="Home" asp-action="DownloadBotsWithMemoryStream" download>Download .NET Bots ZIP with MemoryStream</a>
</p>
