@page
@model IndexModel
@{
    ViewData["Title"] = "Download .NET Bots ZIP";
}

<p class="text-center">
    <a class="btn btn-primary" asp-page-handler="DownloadBots" download>Download .NET Bots ZIP</a>
</p>